<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div>
      <h3>Ask FDR</h3>
      <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
        <%= f.input :name, :required => true %>
        <%= f.input :email, :required => true %>
        <%= f.input :message, :as => :text, :required => true, :class => "text-hght" %>
        <div class= "hidden">
          <%= f.input :nickname, :hint => 'Leave this field blank!' %>
        </div>
        <div>
          </br>
          <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
        </div>
      <% end %>

    <br>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13066.103536531085!2d-78.9272877!3d35.0435891!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9d857411d90e8717!2sFDR-Inc!5e0!3m2!1sen!2sus!4v1484530802929" width="750" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

