<div class="row">
	
	<div class="col-md-2"></div>
	
	<div class="col-md-8">
		<div class="col-md-8">
			<div class="page-header">
				<h1><%= @job.title %> <small><%= @job.location %></small></h1>
				
			</div>
		</div>	
		<div class="col-md-4">
			<div class="text-center">
				<br>
				<h3>$<%= @job.pay %></h3>
				<h4>ID: <%= @job.id %></h4>
				
			</div>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div>
				<%= @job.description %>
			</div>
			<br>			
			<% if current_user %>
              <%= link_to "Edit Job", edit_job_path, :class => "btn btn-info" %> |
              <%= link_to "Activate Job", job_archive_path(@job), method: :post, :class => "btn btn-warning" %>
            <% else %>
              <%= link_to "Apply", "#", :class => "btn btn-primary" %>
            <% end %>
		</div>
		<div class="col-md-1"></div>
	</div>
	
	<div class="col-md-2"></div>
</div>